# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\programming\restLab1_second\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
